In [40]:
import pandas as pd
import numpy as np
import random
data=pd.read_csv("bestsellers_with_categories.csv")

random.seed(42)

In [2]:
data.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
non_fiction=data[data['Genre']=='Non Fiction']

In [13]:
fiction=data[data['Genre']=='Fiction']

In [14]:
# correct rows
non_fiction_1=non_fiction.sample(10)
fiction_1=fiction.sample(10)

In [15]:
non_fiction_1.to_csv('non_fiction_correct.csv',index=False)
fiction_1.to_csv('fiction_correct.csv',index=False)

In [49]:
# few incorrect rows
non_fiction_2=non_fiction.sample(10)
fiction_2=fiction.sample(10)

In [52]:
# rating beyond 5 | out of bounds
non_fiction_2.loc[25,'User Rating']=999
fiction_2.loc[360,'User Rating']=999

In [58]:
# incorrect input

non_fiction_2.loc[344,'Price']='$89'
fiction_2.loc[193,'Price']='$99'

In [63]:
# Null Value

non_fiction_2.loc[59,'Author']=np.NaN
fiction_2.loc[303,'Author']=np.NaN

In [64]:
fiction_2

,Name,Author,User Rating,Reviews,Price,Year,Genre
360,The Day the Crayons Quit,Drew Daywalt,999,8922,9,2013,Fiction
409,The Hunger Games (Book 1),Suzanne Collins,4.7,32122,8,2012,Fiction
506,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2014,Fiction
72,Diary of a Wimpy Kid: The Last Straw (Book 3),Jeff Kinney,4.8,3837,15,2009,Fiction
286,Ready Player One: A Novel,Ernest Cline,4.6,22536,12,2017,Fiction
303,Strange Planet (Strange Planet Series),NaN,4.9,9382,6,2019,Fiction
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction
395,The Great Gatsby,F. Scott Fitzgerald,4.4,11616,7,2013,Fiction
348,The Book Thief,Markus Zusak,4.6,23148,6,2014,Fiction
193,JOURNEY TO THE ICE P,RH Disney,$99,978,$99,2014,Fiction

In [65]:
non_fiction_2

,Name,Author,User Rating,Reviews,Price,Year,Genre
222,"Love Wins: A Book About Heaven, Hell, and the ...",Rob Bell,4.2,1649,13,2011,Non Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
422,The Lego Ideas Book: Unlock Your Imagination,Daniel Lipkowitz,4.4,4247,13,2012,Non Fiction
112,First 100 Words,Roger Priddy,4.7,17323,4,2016,Non Fiction
114,First 100 Words,Roger Priddy,4.7,17323,4,2018,Non Fiction
415,The Instant Pot Electric Pressure Cooker Cookb...,Laurel Randolph,4.3,7368,7,2017,Non Fiction
59,"David and Goliath: Underdogs, Misfits, and the...",NaN,4.4,4642,13,2013,Non Fiction
176,"I Am Confident, Brave & Beautiful: A Coloring ...",Hopscotch Girls,4.8,9737,7,2019,Non Fiction
25,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,999.0,798,5,2009,Non Fiction
344,The Blood Sugar Solution: The UltraHealthy Pro...,Mark Hyman M.D.,4.2,1789,$89,2012,Non Fiction

In [66]:
non_fiction_2.to_csv('non_fiction_incorrect.csv',index=False)
fiction_2.to_csv('fiction_incorrect.csv',index=False)